<div class="row">
    <div class="col-md-12">

        <h3>Error Occurred While Logging in</h3>
        <p><strong>Error: </strong>@ViewBag.Error</p>
        <p><strong>Description: </strong>@ViewBag.ErrorDescription</p>
    </div>
</div>