<div class="row">
    <div class="col-md-12">

        <h3>Tokens for the User</h3>
        <p>Tokens can be extracted from the user's claims. You can use these tokens when calling your APIs</p>

        <p><strong>Access Token:</strong> @ViewBag.AccessToken</p>
        <p><strong>ID Token:</strong> @ViewBag.IdToken</p>
    </div>
</div>