@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My MVC App</h1>
    <p class="lead">Sample .NET application that integrates with Auth0 using server-side code only.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>