@using System.Security.Claims
@using System.Security.Principal
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-md-12">
            <h2>@User.Identity.GetUserName()'s Claims</h2>
            <table>
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var claim in (User.Identity as ClaimsIdentity).Claims)
                {
                        <tr>
                            <td>@claim.Type</td>
                            <td>@claim.Value</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>