@using System.Configuration;
@{
    ViewBag.Title = "Login";
}


<div id="root" style="width: 320px; margin: 40px auto; padding: 10px; border-style: dashed; border-width: 1px;">
    embeded area
</div>
@Html.AntiForgeryToken()
<script src="https://cdn.auth0.com/js/lock-8.2.min.js"></script>
<script>

    var lock = new Auth0Lock('XACGwwyX820Fso9gspzV7a90WxOPcYEm', 'jerrie.auth0.com');

    var xsrf = document.getElementsByName("__RequestVerificationToken")[0].value;

    lock.show({
        container: 'root',
        callbackURL: window.location.origin + '/signin-auth0',
        responseType: 'code',
        authParams: {
            scope: 'openid profile',
            state: 'xsrf=' + xsrf + '&ru=' + '@ViewBag.ReturnUrl'
        }
    });
</script>
